<div ng-show="isItemMaster" style="margin-left:70px !important;">
<br>
<h2>Item Master</h2>

<div class="form-group">
<label class="radio-inline"><input type="radio" id="search" ng-model="checked" value="search" ng-click="showSearch('search')">Search Item</label>
<label class="radio-inline"><input type="radio" id="newItem" ng-model="checked" value="newItem"  ng-click="showNewItem('newItem')">Add New Item</label>
</div>

<form method="get" name="quotationForm" ng-show="isAddNewItem" class="form-inline">
<div class="col-sm-7">

<div class="well  well-sm" style="width:50%">Vendor Details:</div>

<div class="form-group">
<label>Vendor Id:</label> <input type="text" class="form-control" name="vendor" value="">
</div>
<div class="form-group">
<label>Vendor Name: </label><input type="text" class="form-control" name="vendorName" >
</div>
<br>
<br>
<div class="form-group">
<label>Address: </label> &nbsp;&nbsp;&nbsp;<textarea rows="4" class="form-control" cols="25" name="address">
</textarea>
</div>

<br>
<br>
<div class="form-group">
<button type="button" class="btn btn-info" ng-click="addQuotation()">
    <span class="glyphicon glyphicon-plus"></span>  Add Item Details
</button>
</div>
</div>
<br><br>

<div class="col-sm-12">

<div ng-repeat="quote in quotationList" ng-show="addQuote">
				
				<br><br>
				<div class="col-xs-2">
				<label>Item Id: </label>
				<input type="text" name="itemName" class="form-control" ng-model="quote.itemId">
				</div>
				
				<div class="col-xs-2">
				<label>Item Name: </label>
				<input type="text" name="itemName" class="form-control" ng-model="quote.itemName">
				</div>
				
				<div class="col-xs-2">
				<label>Item Description: </label>
				<input type="text" name="itemName" class="form-control" ng-model="quote.itemDesc">
				</div>
				
				<div class="col-xs-2">
				<label>Unit Price: </label>
				<input type="text" name="itemName" class="form-control" ng-model="quote.unitPrice">
				</div>
				
				<div class="col-xs-2">
				<label>Quantity: </label>
				<input type="text" name="quantity" class="form-control" ng-model="quote.quantity">
				</div>
				
				<div class="col-xs-2">
				<label>Total Amount: </label>
				<input type="text" name="price" class="form-control" ng-model="quote.totalAmt">
				</div>
				<br>
				<br>				

</div>
<br>
<br>
<div class="form-group" ng-show="isAddNewItem"> 
    <button type="submit" class="btn btn-info">Submit</button>
</div>
</div>
</form>
<form method="get" name="itemMasterForm" class="form-inline" role="form">
<div class="col-sm-7">

<div ng-show="isSearch">
<br>
<div class="form-group">
<label>Enter Id: </label>
<input type="text" name="searchId" class="form-control" value="" ng-keypress="showSearchResults()">
</div>
</div>
<div ng-show="searchRes">
<br><br>
<div class="well  well-sm" style="width:50%">Items Details</div>
</div>
</div>
<div class="col-sm-12">
<div ng-repeat="sRes in searchResList">
				<div class="col-xs-2">
				<label>Item Id: </label>
				<input type="text" name="itemName" class="form-control" ng-model="sRes.itemId" ng-disabled="enableEdit">
				</div>
				
				<div class="col-xs-2">
				<label>Item Name: </label>
				<input type="text" name="itemName" class="form-control" ng-model="sRes.itemName" ng-disabled="enableEdit">
				</div>
				
				<div class="col-xs-2">
				<label>No Of Units Left: </label>
				<input type="text" name="itemName" class="form-control" ng-model="sRes.noOfUnits" ng-disabled="enableEdit">
				</div>
				
				<div class="col-xs-2">
				<label>Unit Price: </label>
				<input type="text" name="itemName" class="form-control" ng-model="sRes.unitPrice" ng-disabled="enableEdit">
				</div>
				<div>
				<a href="#" ng-click="enableEditF(sRes.itemId)"><img ng-src="images/edit-pencil.gif" ></a>
				</div>
		
</div>
<br><br>
<div class="form-group" ng-show="searchRes"> 
<br><br>
    <button type="submit" class="btn btn-info">Submit</button>
</div>
</div>
</form>

</div>