h1 {
	background-color: white
	color: #369;
	font-family: Helvetica;
	font-size: 250%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #1E90FF;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #1E90FF}

.dropdown:hover .dropdown-content{
    display: block;
}
.active {
    background-color: #1E90FF;
}
.style-2 input[type="text"] {
  padding: 2px;
  border: solid 3px #c9c9c9;
  transition: border 0.3s;
}
.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
  border: solid 5px #969696;
}
.style-2 textarea {
  padding: 10px;
  border: solid 3px #c9c9c9;
  transition: border 0.3s;
}
.style-2 textarea:focus,
.style-2 textarea.focus {
  border: solid 5px #969696;
}
label { 
	font: bold; 
	font-weight: 400;
	font-family: Helvetica;
}
/* div {
	box-shadow: 10px 10px 5px #888888;
} */
button { 
    background-color: #1E90FF;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
 .ng-pageslide {
                background: #eee;
                min-height: 20px;
                position: relative;
                width: 20px
}
#left-panel {
  width: 300px;
  height: 400px;
  border: 5px solid #555;
  background-color: #f3f3f3;
  position: fixed;
  top: 150px;
  right: -275px;
  border-radius: 0 1em 1em 0;
  padding: 5px;
  -moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
}

#left-panel:hover {
  right: -250px;
}

#left-panel.show {
  right: -5px;
}

#left-panel a.controller {
  position: absolute;
  left: 5px;
  top: 5px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  color: black;
  font-weight: bold;
  -moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
}

#left-panel.show a.controller {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}